table#menu th:nth-child(2),
table#menu th:nth-child(3),
table#menu th:nth-child(5),
table#menu th:nth-child(6) {
	text-align: left;
}
table#menu th:nth-child(4),
table#menu td:nth-child(1) {
	text-align: right;
}
th,
td {
	padding: 0.2em;
}
th[scope="col"] {
	border-bottom: 1px solid;
}

table#cart th:nth-child(1),
table#cart th:nth-child(4),
table#cart th:nth-child(6) {
	text-align: left;
}
table#cart th:nth-child(2),
table#cart th:nth-child(3),
table#cart th:nth-child(5) {
	text-align: right;
}

hr {
	margin: 2em 0;
}

input[type=number] {
	width: 3em;
	text-align: right;
}